$light-section-bg: #F5F5F5;
$dark-section-bg: #305D52;
$darker-sections-bg:#194d44;
$highlighted-elements-color: #5BC8AF;
$default-dots-bg:#EAEAEA;
$btn-active-state-color:#35BB9C;
$tooltips-bg-color:#297C6B;
$text-color: #333;
$faded-elements-color: #EAEAEA;
$accent-light-color: #fff;
$faded-elements-color:#FFFFFFB2;
$form-tooltip-color:#ff7777;