@use "abstracts/colors";
@use "abstracts/functions";
@use "abstracts/mixins";

footer {
  padding: functions.rem(30) 0;
  background-color: colors.$footer-bg-color;
  color: #757575;
  p {
    line-height: 24px;
  }
  .footer-links {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    li{
      &:not(:first-child){
        border-left: 1px solid #757575;
        padding: 0 functions.rem(9);
      }
    a{
      color: #757575;
    }
  }
}
}

@include mixins.responsive("lg-devices") {
  footer {
    padding: functions.rem(15) 0 functions.rem(20) 0;
    p{
      text-align: center;
    }
    .footer-links {
      justify-content: center;
    }
}
}