@use "abstracts/colors";
@use "abstracts/functions";
@use "abstracts/mixins";

.landing-navbar-wrapper {
  padding: functions.rem(20) 0;
  .navbar-burger {
    border: 1px solid transparent;
    color: colors.$accent-light-color;
    background-color: transparent;
    &:focus {
      box-shadow: none;
    }
  }
  li {
    padding: 0 functions.rem(17);
    &:first-child,
    &:last-child {
      a {
        color: colors.$accent-light-color;
        font-weight: 700;
        span {
          color: colors.$highlighted-elements-color;
          font-weight: 700;
        }
        &.active {
          text-decoration: underline;
        }
      }
    }
    a {
      color: colors.$faded-elements-color;
      font-size: functions.rem(14);
    }
  }
  .vl-nav {
    background-color: colors.$faded-elements-color;
    height: 16px;
    width: 2px;
    margin: 0 functions.rem(20);
  }
}

@include mixins.responsive("lg-devices") {
  .landing-section {
    .landing-navbar-wrapper {
      padding: functions.rem(8) 0;
      ul {
        justify-content: end;
        flex-wrap: wrap;
        row-gap: functions.rem(18);
        margin-top: functions.rem(25);
      }
    }
  }
}

@include mixins.responsive("sm-devices") {
  .landing-section {
    .landing-navbar-wrapper {
      ul {
        display: block;
        margin-top: functions.rem(25);
        li {
          margin-bottom: functions.rem(10);
        }
      }
    }
  }
}
