@use "abstracts/colors";
@use "abstracts/mixins";
@use "abstracts/variables";
@use "abstracts/functions";

.media-section {
  color: colors.$accent-light-color;
  position: relative;
  .watch-vid-wrapper {
    display: flex;
    .media-content-wrapper {
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      padding-left: functions.rem(85);
      z-index: 10;
      &::before,
      &::after {
        content: "";
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-size: 100%;
      }
      &::before {
        background-image: url(/dist/img/darker-media-lg-cruve.svg);
        z-index: -1;
        width: 109%;
      }
      &::after {
        background-image: url(/dist/img/lighter-media-lg-curve.svg);
        z-index: -2;
        width: 111%;
      }
      h2 {
        margin-bottom: functions.rem(35);
        font-size: functions.rem(variables.$font-size-h1-footer);
        font-weight: 800;
        font-family: "Montserrat-Bold";
        color: transparent;
        -webkit-text-stroke: 1px colors.$accent-light-color;
        span {
          color: colors.$accent-light-color;
        }
      }
      .media-content-about {
        display: flex;
        align-items: baseline;
        gap: 40px;
        margin-bottom: functions.rem(30);
        h3 {
          font-weight: 600;
        }
      }
    }
    .right-content {
      width: 50%;
      .media-with-logo {
        background-image: url(/dist/img/header-main-logo.png);
        background-repeat: no-repeat;
        background-position: bottom 30px right 28px;
        position: relative;
        .media-popup-btn {
          border-radius: 50%;
          border: 2px solid rgba(255, 255, 255, 0.3);
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          width: 200px;
          height: 200px;
          margin: auto;
          z-index: 10;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: width 0.3s ease, height 0.3s ease;

          &:hover {
            width: 228px;
            height: 228px;
            transform: scale(1);
          }

          .popup-inner-circle {
            position: absolute;
            border-radius: 50%;
            transition: 0.3s all ease;
            pointer-events: none;
            background-color: rgba(colors.$highlighted-elements-color, 0.8);
            border: 2px solid colors.$accent-light-color;
            width: 154px;
            height: 154px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .media-section-img {
        position: relative;
        z-index: -1;
      }
    }
  }
}

@include mixins.responsive("xl-devices") {
  .media-section {
    .watch-vid-wrapper {
      .media-content-wrapper {
        padding-left: functions.rem(30);
        h2 {
          font-size: functions.rem(40);
        }
        h3 {
          font-size: functions.rem(16);
        }
      }
    }
  }
}

@include mixins.responsive("lg-devices") {
  .media-section {
    .watch-vid-wrapper {
      display: block;
      .media-content-wrapper {
        padding: functions.rem(60) functions.rem(30) 0;
        display: block;
        width: 100%;
        h2 {
          text-align: center;
          font-size: functions.rem(44);
        }
        &::before,
        &::after {
          background-position: bottom center;
          background-size: 100% auto;
          width: 100%;
        }
        &::before {
          background-image: url(/dist/img/darker-media-md-curve.svg);
          z-index: -1;
          height: 150%;
        }
        &::after {
          background-image: url(/dist/img/lighter-media-sm-curve.svg);
          z-index: -2;
          height: 154%;
        }
      }
      .right-content {
        width: 100%;
        .media-with-logo {
          background-position: center bottom 25px;
          .media-popup-btn {
            margin: functions.rem(40) auto 0;
          }
        }
      }
    }
  }
}

@include mixins.responsive("md-devices") {
  .media-section {
    .watch-vid-wrapper {
      .media-content-wrapper {
        padding: functions.rem(60) functions.rem(30) 0;
        h2 {
          font-size: functions.rem(36);
        }
        &::before,
        &::after {
          background-size: auto;
        }
        &::before {
          height: 140%;
        }
        &::after {
          height: 144%;
        }
      }
      .right-content {
        .media-with-logo {
          .media-popup-btn {
            margin: functions.rem(-2) auto 0;
            width: 200px;
            height: 200px;
            transform: scale(0.8);
            &:hover {
              width: 212px;
              height: 212px;
            }
            .popup-inner-circle {
              width: 155px;
              height: 155px;
            }
          }
        }
      }
    }
  }
}

@include mixins.responsive("sm-devices") {
  .media-section {
    .watch-vid-wrapper {
      .media-content-wrapper {
        &::before {
          height: 124%;
        }
        &::after {
          height: 128%;
        }
        .media-content-about {
          gap: 15px;
          h3 {
            font-size: functions.rem(16);
          }
          h5 {
            font-size: functions.rem(14);
            line-height: 20px;
            margin-top: functions.rem(5);
          }
        }
      }
      .right-content {
        .media-with-logo {
          .media-popup-btn {
            width: 128px;
            height: 128px;
            margin: functions.rem(-30) auto 0;
            &:hover {
              width: 150px;
              height: 150px;
            }
            .popup-inner-circle {
              width: 98px;
              height: 98px;
            }
          }
        }
      }
    }
  }
}

@include mixins.responsive("xs-devices") {
  .media-section {
    .watch-vid-wrapper {
      .right-content {
        .media-with-logo {
          .media-popup-btn {
            margin: functions.rem(-20) auto;
          }
        }
      }
    }
  }
}

@include mixins.responsive("xxs-devices") {
  .media-section {
    .watch-vid-wrapper {
      .right-content {
        .media-with-logo {
          .media-popup-btn {
            margin: functions.rem(-10) auto;
          }
        }
      }
    }
  }
}
